* { box-sizing: border-box; padding: 0; margin: 0; }
html, body, #root, .wrapper { height:100%; width: 100%; overflow: hidden; }

$colorBg: #E1DDD7;
$colorFg: #8A8070;
$colorResultsBg: #fff;

body {
	background: $colorBg;
	padding: 29px 45px;
}

* {
	font-family: "IM Fell English", serif;
}

.wrapper {

	.logo {
		opacity: 0.3;
		font-size: 24px;
	}

	.search-box {
		display: flex;
		flex-direction: column;

		.search-box-top {
			margin: 365px auto 0;
			display: flex;

			.search-inputs {
				margin-left: 48px;

				display:flex;

				div.icon {
					display:flex;
					align-items: center;
					&.search {
						opacity: 0.3;
					}
				}
				input {
					width: 500px;
					border:none;
					background: none;
					color: $colorFg;
					font-size: 42px;
					margin-left:34px;
				}
			}
		}
		.search-box-bottom {
			margin: 14px auto;
			width:100%;
			text-align: center;
		}
	}
}

.results-wrapper {
	position: relative;
}

.result-box {
	position: absolute;
	right: 40px;
	background: $colorResultsBg;
	border-radius: 6px;
	padding: 50px 100px 32px 55px;
	font-size: 14px;
	line-height: 16px;
	width: 600px;
	max-height: 800px;
	overflow-y: scroll;

	.book-results {

		margin-bottom: 60px;

		h2 {
			font-family: Courier, serif;
			text-align: center;
		}

		.result {

			h3 {
				font-family: Courier, serif;
				margin: 20px 0 12px;
			}

			.result-with-context {

				.search-highlight {
					font-family: Courier, serif;
					font-weight: bold;
					white-space: pre-wrap;
				}

				.search-context {
					font-family: Courier, serif;
					white-space: pre-wrap;
					color: gray;
				}
			}
		}
	}
}
