* { box-sizing: border-box; padding: 0; margin: 0; }
html, body, .wrapper { height:100%; width: 100%; }

body {
	background: #E1DDD7;
	padding: 29px 45px;
	overflow: hidden;
}

* {
	font-family: "IM Fell English", serif;
}

.wrapper {

	.logo {
		opacity: 0.3;
		font-size: 24px;
	}

	.search-box {
		text-align: center;
		margin: 360px auto 0;
		.search-inputs {
			margin-left: 48px;
			img.icon {

			}
			input {
				width: 589px;
				border:none;
				background: none;
				color: #8A8070;
				font-size: 42px;
				margin-left:34px;
			}
		}
	}
	.lines {
		margin: 14px auto;
		width:100%;
		text-align: center;
	}
}

.result-box {
	position: absolute;
	right: 40px;
	background: #FFFFFF;
	border-radius: 6px;
	padding: 50px 100px 32px 55px;
	font-size: 14px;
	line-height: 16px;
	width: 600px;
	height: 60vmax;
	max-height: 800px;
	overflow-y: scroll;

	.book-results {

		margin-bottom: 60px;

		h2 {
			font-family: Courier, serif;
			text-align: center;
		}

		.result {

			h3 {
				font-family: Courier, serif;
				margin: 20px 0 12px;
			}

			.result-with-context {

				.search-highlight {
					font-family: Courier, serif;
					font-weight: bold;
					white-space: pre-wrap;
				}

				.search-context {
					font-family: Courier, serif;
					white-space: pre-wrap;
					color: gray;
				}
			}
		}
	}


}

.william {
	position: absolute;
	bottom: -510px;
	left:10px;
}
